/* width less than 980 px */
@media screen and (max-width: 980px) {

  /*SECTIONS*/
  .content-wrap {
    width: 95%;
  }

  #info {
    width: 50%;
    padding: 3% 4%;
  }

  #me {
    width: 40%;
  }

  #me .widget {
    padding: 8% 7%;
    margin-bottom: 10px;
  }

  .box {
    width: 75%;
  }

  /*PROJECTS*/
  .projbox {
    width: 675px;
  }

  .pimages {
    width: 100%;
    float: none;
  }

  .modal-content {
    width: 92%;
  }
}

@media screen and (max-height: 700px) {
  #header {
    height: 500px;
  }
}

@media screen and (max-width: 880px) {

  /* RESUME */
  #skills {
    float: none;
    column-count: 2;
  }

  #resume-sections {
    position: relative;
    margin-left: 50px;
  }

  /* ACTIVITIES */
  #activity-cards {
    column-count: 2;
  }
}

@media screen and (max-width: 780px) {

  /* ACTIVITIES */
  .modal-content {
    height: 95%;
  }
}

/* width less than 650 px;*/
@media screen and (max-width: 700px) {

  /*TITLE*/
  h4 {
    font-size: 100px;
  }

  #position {
    font-size: 20px;
  }

  /*SECTIONS*/
  #info {
    width: 100%;
    float: none;
    margin: 0;
  }

  #me {
    width: 100%;
    float: none;
    margin: 0;
    margin-bottom: 20px;
  }

  .box {
    float: none;
    width: 95%;
  }

  .box:before {
    visibility: hidden;
  }

  .bubble-icons {
    display: block;
    float: none;
    margin: auto;
  }

  /* RESUME */
  #resume-sections {
    margin: 5%;
  }

  /*PROJECTS*/
  .projbox {
    width: 90%;
  }

  /* ACTIVITIES */
  .imgbox {
    display: block;
  }

  .imgleft {
    float: none;
    width: 100%;
  }

  .imgright {
    float: none;
    width: 100%;
  }

  /* CONTACT */
  textarea {
    width: 95%;
  }

  #name, #email {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {

  /* RESUME */
  #skills {
    margin: auto;
  }

  /* ACTIVITIES */
  #activity-cards {
    column-count: 1;
  }
}

/* width less than 480 px */
@media screen and (max-width: 480px) {
  html {
    -webkit-text-size-adjust: none;
  }
}